<!doctype html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <style>
            body{
                margin: 0;
                font-family: Sans-Serif;
            }
            *{
                box-sizing: border-box;
            }
          

            .row{
                display: flex;
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
            }

            .number{
                font-weight: normal;
                font-size: 6px;
                position: absolute;
                top: 1px;
                left: 2px;    
                width: 20px;            
            }

            .board{
                border-top: 1px solid black;
                border-left: 1px solid black;
            }

            .cell{
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                flex-grow: 1;
                flex-basis: 0;
                position: relative;
            }
            .cell:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            input{
                font-size: 12px;
                text-align: center;
                text-transform: uppercase;
                background-color: transparent;
                -webkit-appearance: none;
                -moz-appearance:    none;
                appearance:         none;  
                margin: 0;
                padding: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                top:0;
                left:0;
                border: 0;                           
            }

            .black{
                background-color: black;
            }

            .valid{
                background-color: rgba(0,255,0,.2)
            }

            .invalid{
                background-color: rgba(255,0,0,.2)
            }            

            .clues h2{
                text-align: center;
            }

            .clues ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .clues li{
                margin: 0;
                padding: 0;
                font-size: 12px;
            }

            .buttons a{
                text-align: center;
                color: white;
                background-color: #333;
                width: 120px;
                padding: 6px;
                font-size: 14px;
                text-decoration: none;
                border-radius: 4px;
                display: block;
                margin: 0 10px;               
            }

            .buttons{
                display: flex;
                justify-content: center;
                position: fixed;
                background: white;
                border-top: 1px solid black;
                padding: 10px 0;
                bottom: 0;
                width: 100%;
                transition: bottom .2s;   
                height: 50px;             
            }

            .buttons.closed{
                bottom: -50px;   
            }                

            .clues{
                padding: 0 20px;
            }   

            .close{
                font-weight: bold;
                position: absolute;
                top: -22px;
                right: 10px;
                background-color: white;
                border: 1px solid black;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;                
            }   

           

            @media all and (orientation: landscape){

                .board{
                    position: fixed;
                    top:0;
                    left:0
                }

                .row{
                    width: 100vh;
                    max-width: 600px;
                    margin: 0;
                }

                .clues{
                    float: right;
                    width: calc(100vw - 100vh);
                }

                 
            }

           
        </style>

        <main ng-controller="crosswordsCtrl">


            <div class="board">
                <div ng-repeat="row in board track by $index" class="row">
                    <div ng-repeat="cell in row track by $index" ng-class="{black: cell.value === '.', valid: cell.valid, invalid: cell.valid === false}" class="cell">
                        <span class="number" ng-show="cell.value !== '.' && cell.number !== 0">{{cell.number}}</span>
                        <input class="letter" ng-show="cell.value !== '.'" type="text" ng-model="cell.letter" maxlength="1">
                    </div>
                </div>
            </div>

            <div class="buttons" ng-class="{closed: buttons_closed}">
                <span class="close" ng-click="buttons_closed = !buttons_closed">{{ buttons_closed ? '+' : '✕' }}</span>
                <a href ng-click="validate()">Validate</a>
                <a href ng-click="showSolution()">Show Solution</a>
            </div>

            <div class="clues">
                <div>
                    <h2>Across</h2>
                    <ul>
                        <li ng-repeat="clue in clues.across">{{clue}}</li>
                    </ul>
                </div>

                <div>
                    <h2>Down</h2>
                    <ul>
                        <li ng-repeat="clue in clues.down">{{clue}}</li>
                    </ul>                
                </div>  
            </div>

          

        </main>

        <script src="lib/angular.min.js"></script>

        <script>

            angular.module('myApp', [])

            .controller('crosswordsCtrl', function($scope, $http){

                $http.get('data.json').then(function(response){

                    $scope.board = [];
                    var row = [];
                    for(var i = 0; i < response.data.grid.length; i++){
                        if(i!== 0 && i % response.data.size.cols === 0){
                            $scope.board.push(angular.copy(row))
                            row = [{
                                value: response.data.grid[i],
                                letter: null,
                                number: response.data.gridnums[i]
                            }];
                        }else{
                            row.push({
                                value: response.data.grid[i],
                                letter: null,
                                number: response.data.gridnums[i]
                            })
                        }
                    }

                    $scope.board.push(angular.copy(row))

                    $scope.clues = response.data.clues

                })

                $scope.validated = false

                $scope.validate = function(){
                    for(var i = 0; i < $scope.board.length; i++){
                        for(var j = 0; j < $scope.board[i].length; j++){
                            cell = $scope.board[i][j];
                            if(!$scope.validated){
                                if(cell.value !== '.'){
                                    cell.valid = cell.letter ? cell.letter.toUpperCase() == cell.value.toUpperCase() : false
                                }
                            }else{
                                delete cell.valid; 
                            }
                        }                        
                    }

                    $scope.validated = !$scope.validated;
                }

            
                $scope.showSolution = function(){
                    for(var i = 0; i < $scope.board.length; i++){
                        for(var j = 0; j < $scope.board[i].length; j++){
                            cell = $scope.board[i][j];
                            if(cell.value !== '.'){
                                cell.letter = cell.value
                                cell.valid = true
                            }
                        }                        
                    }

                }                

            })


        </script>

    </body>
</html>